streamlit
chromadb
ollama
amazon-bedrock
boto3
awscli
PyPDF2
torch
sentence_transformers
pdfplumber
numpy<2.0.0
langchain-community
langchain
langchain-chroma
langchain-schema
pdf_processing
zipfile
operator
tempfile