streamlit
chromadb
ollama
amazon-bedrock
boto3
awscli
PyPDF2
torch
sentence_transformers
pdfplumber
numpy<2.0.0
langchain-community
langchain
langchain-chroma
langchain-schema
pdf_processing
zipfile
operator
tempfile
re
os
time
uuid
requests
tempfile
urllib.parse 
io 
chromadb.config
langchain.vectorstores
langchain_community.embeddings
json
shutil
textractor.data.constants
langchain.text_splitter
langchain_community.vectorstores.chroma
langchain.embeddings
PyPDF2.errors
langchain_community.llms
